PORT = 3000
CLIENT_URL = "http://localhost:5500"

# mysql credentials
DB_HOST = "localhost"
DB_USER = "root"
DB_PASSWORD = "password"
DB_NAME = "online_bookstore_db"

# JWT Tokens
ACCESS_TOKEN_SECRET = "access token secret"
REFRESH_TOKEN_SECRET = "refresh token secret"

# OAuth credentials
GOOGLE_CLIENT_ID = "1020599891509-879kih7d0bl4rl65rc6b758palc60k0q.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "google client secret"
GOOGLE_REDIRECT_URI= "http://localhost:5500"
